body {
    background-image: url(./images/blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

form {
    position: relative;
    left: 560px;
    border: #59A96A solid;
    border-radius: 10px;
}

#border {
    width: 35%;
    background: #B4E7CE;
    background-clip: content-box;
    font-size: 22px;
    opacity: .85;
}
.alignment {
    padding: 1em;
    margin-bottom: 0px;
    margin-top: 1px;
    margin-left: 35px;
}

.row-span {
    width: 35em;
    height: 2em;
}

#button {
    margin-left: 58px;
    margin-bottom: 20px;
    width: 475px;
    height: 3em;
    background-color: green;
    border: #59A96A;
    border-radius: 5px;
}
#button:hover {
    background-color: lightgreen;
}

#head {
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}